<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proyecto Final de Minería</title>
</head>
<body>

    <script type="text/javascript">
        function disablecheckbox()
        {
            document.getElementById('skill1').disabled=true;
            document.getElementById('skill2').disabled=true;
            //document.getElementById('skill3').disabled=false;
            document.getElementById('skill4').disabled=false;
            document.getElementById('skill1').checked=false;
            document.getElementById('skill2').checked=false;
            //document.getElementById('skill3').checked=true;
            document.getElementById('skill4').checked=true;
        }
        function enablecheckbox()
        {
            document.getElementById('skill1').disabled=false;
            document.getElementById('skill2').disabled=false;
            //document.getElementById('skill3').disabled=true;
            document.getElementById('skill4').disabled=true;
        }
    </script>

    <h1>Proyecto Final de Minería</h1>
        <br>

        <input type="radio" name="c1" onfocus="enablecheckbox();" value="0" />Leer el dataset de otra forma:<br><br>

        <input type="radio" id="skill1" name="s1" disabled="disabled" />Buscar por fecha<br><br>
        <input type="radio" id="skill2" name="s1" disabled="disabled" />Buscar por RegionName
        <br><br><br>

        <input type="radio" name="c1" onfocus="disablecheckbox();" value="1" />Leer el dataset completo<br><br>

        <form class="" action="data" name="csvfile" method="post">
        <!--<input type="text" id="skill3" name="age" disabled="disabled" required /><br><br>-->
        <input type="submit" id="skill4" name="csvfile" disabled="disabled" value="Submit" />
        </form>
        <br><br>

</body>
</html>







<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proyecto Final de Minería</title>
</head>
<body>
    <h1>Proyecto Final de Minería</h1>
        <br>


    <p>Introduzca 'a' para buscar por nombre de región</p>
    <p>Introduzca 'b' para buscar por fecha</p>
    <p>Introduzca 'c' para ver el dataset completo</p>

    <form class="" action="data" name="csvfile" method="post">
        <input type="text" name="age"><br><br>
        <input type="submit" name="csvfile" value="Submit">
    </form>

</body>
</html>-->

