<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proyecto Final de Minería</title>
</head>
<body>
    <h1>Proyecto Final de Minería</h1>
        <br>
    <!--<form method="POST" action="/">
        <p>Introduzca 'a' para buscar por nombre de región</p>
        <p>Introduzca 'b' para buscar por fecha</p>
        <div class="form-group">
            <input type="text" name="age">
            <br><br>
            <input class="btn btn-primary" type="submit" value="submit">
            <br><br>

        </div>

    </form>-->

    <form class="" action="data" method="post">
        <!--<input type="file" name="csvfile" value=""><br><br>-->
        <input type="submit" name="csvfile" value="Submit">
    </form>

</body>
</html>