<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proyecto Final de Minería</title>
</head>
<body>
    <h1>Proyecto Final de Minería</h1>
        <br>
    <!--<form method="POST" action="/">
        <p>Introduzca 'a' para buscar por nombre de región</p>
        <p>Introduzca 'b' para buscar por fecha</p>
        <div class="form-group">
            <input type="text" name="age">
            <br><br>
            <input class="btn btn-primary" type="submit" value="submit">
            <br><br>

        </div>

    </form>-->

    <p>Introduzca 'a' para buscar por nombre de región</p>
    <p>Introduzca 'b' para buscar por fecha</p>
    <p>Introduzca 'c' para ver el dataset completo</p>

    <form class="" action="data" name="csvfile" method="post">
        <input type="text" name="age"><br><br>
        <input type="submit" name="csvfile" value="Submit">
    </form>

</body>
</html>